build --apple_generate_dsym
build --define=apple.propagate_embedded_extra_outputs=yes

build --copt=-Werror
build --copt=-Wall
build --copt=-fno-autolink
build --copt=-fobjc-arc
build --copt=-Wformat-security
build --copt=-Wformat-nonliteral
build --copt=-Wextra
build --copt=-no-canonical-prefixes
build --copt=-Dunix
build --copt=-DOS_MACOSX
build --copt=-fno-strict-aliasing
build --copt=-fno-common
build --copt=-Werror
build --copt=-Wno-address-of-packed-member
build --copt=-Wno-default-const-init-unsafe
build --copt=-Wno-defaulted-function-deleted
build --copt=-Wno-deprecated-builtins
build --copt=-Wno-enum-compare-switch
build --copt=-Wno-expansion-to-defined
build --copt=-Wno-ignored-attributes
build --copt=-Wno-ignored-qualifiers
build --copt=-Wno-inconsistent-missing-override
build --copt=-Wno-nullability-completeness
build --copt=-Wno-potentially-evaluated-expression
build --copt=-Wno-range-loop-analysis
build --copt=-Wno-return-type-c-linkage
build --copt=-Wno-strict-prototypes
build --copt=-Wno-tautological-type-limit-compare
build --copt=-Wno-tautological-undefined-compare
build --copt=-Wno-tautological-unsigned-zero-compare
build --copt=-Wno-tautological-unsigned-enum-zero-compare
build --copt=-Wno-undefined-func-template
build --copt=-Wno-unnecessary-virtual-specifier
build --copt=-Wno-unused-but-set-variable
build --copt=-Wno-unused-lambda-capture
build --copt=-Wno-unused-local-typedef
build --copt=-Wno-deprecated-volatile
build --copt=-Wno-deprecated-anon-enum-enum-conversion
build --copt=-Wno-deprecated-enum-compare
build --copt=-Wno-deprecated-enum-enum-conversion
build --copt=-Wno-deprecated-enum-compare-conditional
build --copt=-Wno-deprecated-enum-float-conversion
build --copt=-Wno-deprecated-this-capture
build --copt=-Wno-error=nullability-completeness
build --copt=-Wno-bitwise-instead-of-logical
build --copt=-Wno-compound-token-split
build --copt=-Wno-psabi
build --copt=-Wno-unqualified-std-cast-call
build --copt=-Wno-enum-compare
build --copt=-Wno-nontrivial-memaccess
build --copt=-Wno-unknown-warning-option
build --copt=-Wno-ambiguous-member-template
build --copt=-Wno-char-subscripts
build --copt=-Wno-deprecated-declarations
build --copt=-Wno-deprecated-pragma
build --copt=-Wno-extern-c-compat
build --copt=-Wno-gnu-alignof-expression
build --copt=-Wno-gnu-variable-sized-type-not-at-end
build --copt=-Wno-implicit-int-float-conversion
build --copt=-Wno-invalid-source-encoding
build --copt=-Wno-mismatched-tags
build --copt=-Wno-pointer-sign
build --copt=-Wno-private-header
build --copt=-Wno-sign-compare
build --copt=-Wno-strict-overflow
build --copt=-Wno-unknown-pragmas
build --copt=-Wno-unused-command-line-argument
build --copt=-Wno-unused-const-variable
build --copt=-Wno-unused-function
build --copt=-Wno-unused-private-field
build --copt=-Wno-user-defined-warnings
build --copt=-Wno-builtin-macro-redefined
build --copt=-Wno-invalid-offsetof
build --copt=-Wno-objc-literal-conversion
build --copt=-Wfloat-overflow-conversion
build --copt=-Wfloat-zero-conversion
build --copt=-Wfor-loop-analysis
build --copt=-Wgnu-redeclared-enum
build --copt=-Winfinite-recursion
build --copt=-Wself-assign
build --copt=-Wno-self-assign-overloaded
build --copt=-Wstring-conversion
build --copt=-Wtautological-overlap-compare
build --copt=-Wunused-but-set-parameter
build --copt=-Wunused-comparison
build --copt=-Wvla
build --copt=-Wctad-maybe-unsupported
build --copt=-Wduplicate-method-match
build --copt=-Wmissing-method-return-type
build --copt=-Wnonportable-system-include-path
build --copt=-Wpragma-pack-suspicious-include
build --copt=-Wundeclared-selector
build --copt=-Wno-implicit-fallthrough
build --copt=-Wno-cast-align
build --copt=-Wno-missing-field-initializers
build --copt=-Wthread-safety-analysis
build --copt=-std=gnu2x
build --copt=-Wno-error=deprecated-declarations
build --copt=-Wno-error=nullability-completeness
build --copt=-Wreorder-init-list
build --copt=-Wc99-designator
build --copt=-Wno-c++20-designator
# Disable -Wunknown-warning-option because deprecated-non-prototype
# isn't recognized on older SDKs
build --copt=-Wno-unknown-warning-option
build --copt=-Wno-error=deprecated-non-prototype
build --per_file_copt=.*\.mm\$@-std=c++20
# build --per_file_copt=.*\.mm\$@-Wformat-nonliteral
# build --per_file_copt=.*\.mm\$@-Wformat-security
build --cxxopt=-std=c++20
build --host_cxxopt=-std=c++20

# cel-cpp has lots of warnings that we don't need to see (and definitely don't
# want to be treated as errors).
build --per_file_copt=.*cel-cpp.*@-Wno-deprecated-declarations
build --per_file_copt=.*cel-cpp.*@-Wno-nullability-completeness
build --per_file_copt=.*cel-cpp.*@-Wno-unused-function

build --copt=-DSANTA_OPEN_SOURCE=1
build --cxxopt=-DSANTA_OPEN_SOURCE=1

# Many config options for sanitizers pulled from
# https://github.com/protocolbuffers/protobuf/blob/main/.bazelrc
build:san-common --strip=never
build:san-common --copt="-Wno-macro-redefined"
build:san-common --copt="-D_FORTIFY_SOURCE=0"
build:san-common --copt="-O1"
build:san-common --copt="-fno-omit-frame-pointer"

build:asan --config=san-common
build:asan --copt="-fsanitize=address"
build:asan --copt="-DADDRESS_SANITIZER"
build:asan --linkopt="-fsanitize=address"
build:asan --test_env="ASAN_OPTIONS=log_path=/tmp/san_out"

build:tsan --config=san-common
build:tsan --copt="-fsanitize=thread"
build:tsan --copt="-DTHREAD_SANITIZER=1"
build:tsan --linkopt="-fsanitize=thread"
build:tsan --test_env="TSAN_OPTIONS=log_path=/tmp/san_out:halt_on_error=true"

build:ubsan --config=san-common
build:ubsan --copt="-fsanitize=undefined"
build:ubsan --copt="-DUNDEFINED_SANITIZER=1"
build:ubsan --copt="-fno-sanitize=function" --copt="-fno-sanitize=vptr"
build:ubsan --linkopt="-fsanitize=undefined"
build:ubsan --test_env="UBSAN_OPTIONS=log_path=/tmp/san_out"

build:fuzz --config=san-common
build:fuzz --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:libfuzzer
build:fuzz --@rules_fuzzing//fuzzing:cc_engine_instrumentation=libfuzzer
build:fuzz --@rules_fuzzing//fuzzing:cc_engine_sanitizer=asan
